{% extends "base.html" %}

{% block content %}
    <h1>Rugged Island</h1>
    <p>Our very simple calendar</p>

    {% if info %}
        {% for event in info %}

            <p><strong>Status: </strong>{{ event.status}}</p>
            <p><strong>Start: </strong>{{ event.start.dateTime|date:"g:i a" }}</p>
            <p><strong>End: </strong>{{ event.end.dateTime|date:"g:i a"}}</p>
            <p><strong>Duration: </strong>{{ event.end.dateTime|timeuntil:event.start.dateTime }}</p>
            <p><strong>Organizer: {{ event.organizer.email }}</strong></p>
            <hr>

        {% endfor %}

    {% else %}

        <h2>There are no events scheduled</h2>

    {% endif %}

    {% if hours %}

        {% for hour in hours %}

            <p>{{ hour | date:"P D" }}</p>
            <hr>

        {% endfor %}

    {% else %}

        <h2>Time does not exist</h2>

    {% endif %}

{% endblock %}